.panels-flexible-two_columns .panels-flexible-region {
  padding: 0;
}

.panels-flexible-two_columns .panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-two_columns .panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-two_columns .panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-two_columns .panels-flexible-column {
  padding: 0;
}

.panels-flexible-two_columns .panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-two_columns .panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-two_columns .panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-two_columns .panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-two_columns .panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-two_columns-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-two_columns-inside {
  padding-right: 0px;
}

.panels-flexible-two_columns {
  width: auto;
}

.panels-flexible-region-two_columns-center {
  float: left;
  width: 69.2918%;
}

.panels-flexible-region-two_columns-column_right {
  float: left;
  width: 29.7082%;
}

.panels-flexible-row-two_columns-main-row-inside {
  padding-right: 0px;
}

