.panels-flexible-3 .panels-flexible-region {
  padding: 0;
}

.panels-flexible-3 .panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-3 .panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-3 .panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-3 .panels-flexible-column {
  padding: 0;
}

.panels-flexible-3 .panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-3 .panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-3 .panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-3 .panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-3 .panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-3-main {
  float: left;
  width: 100.0000%;
}

.panels-flexible-3-inside {
  padding-right: 0px;
}

.panels-flexible-3 {
  width: auto;
}

.panels-flexible-region-3-center {
  float: left;
  width: 67.3471%;
}

.panels-flexible-region-3-right_region {
  float: left;
  width: 32.6529%;
}

.panels-flexible-row-3-main-row-inside {
  padding-right: 0px;
}

