/* Drupal 7 Framework
---------------------------------------------*/
body#body {
  background:#efefef;
  color:#6b6f71;
  font-family:Arial, Helvetica, sans-serif;
  font-size:15px;
  line-height:20px;
  margin:0;
  min-width:960px;
  padding:0;
}

a { color:#2977b7; outline:none;}
a:hover {
  color: #6b6f71;
  text-decoration: none;
}

#page {background:#FFF}

/*** Header ***/
#header {
	position: relative;
	border-bottom:10px solid #2977b7;
}
.region-header-bottom {width:940px; margin:0 auto;}
.header-indent {position:relative;	height:146px; width:960px; margin:0 auto; left:2px;}
.section-1 {position:absolute; top:0; left:0; right:0;}
.section-1:after {width:100%; display:block; content:""; clear:both;}
.section-1 .col1 { float:left; width:500px;}
.section-1 .col2 { float:right;}

.section-2 {overflow:hidden; width:100%; position:relative; margin-top:-118px;}
.region-header {width:1242px; left:50%; margin-left:-621px; position:relative;}

.section-3 {background:#2977b7;}
.region-header-bottom {
	padding:54px 0 82px;
	overflow:hidden;
}
.region-header-bottom section.block h2 {
	color:#fff;
	}
.region-header-bottom .view-id-services .view-content {
	overflow:hidden;
	}
.region-header-bottom .view-id-services .views-row:first-child {margin-left:0;}	
.region-header-bottom .view-id-services .views-row {
	float:left;
	width:220px;
	margin-left:20px;
	}
.region-header-bottom .view-id-services .views-row .views-field-title {
	font-size:59px;
	line-height:72px;
	text-transform:uppercase;
	color:#fff;
	margin-bottom:30px;
	text-indent:-4px;
	}
.region-header-bottom .view-id-services .views-row .views-field-body {
	color:#96d0ff;
	margin-bottom:41px;
	}	
.region-header-bottom .view-id-services .views-row .views-field-view-node a, .view-node a, aside .view-footer a {
	color:#4b585d;
	display:inline-block;
	padding:18px 33px 16px 32px;
	font-size:9px;
	text-decoration:none;
	line-height:11px;
	text-transform:uppercase;
	background:#fff;
	-moz-transition:all .4s ease;
	-webkit-transition:all .4s ease;
	}
aside .view-footer a {background:#eff0f0;}	
aside .view-footer a:hover {background:#2977b7; color:#fff;}	
.region-header-bottom .view-id-services .views-row .views-field-view-node a:hover, .view-node a:hover {
	background:#95cfff;
	color:#fff;
	}
.region-header-bottom section.block .content {color:#95cfff;}
.region-header-bottom section.block .content p {margin-bottom:30px;}
.region-header-bottom section.block .content ul {margin-bottom:41px;}
.region-header-bottom section.block .content ul li {
		background-image:url(../gif/marker1.gif);
	}	
.region-header-bottom section.block .content ul li a {
	color:#fff;
	}
.region-header-bottom section.block .content ul li a:hover {
	color:#95cfff;
	}	
#block-block-10, #block-block-11, #block-block-12 {
	float:left;
	width:300px;
	margin-left:20px;
	}
#block-block-11 {width:305px;}	
#block-block-12 {margin-left:15px;}	
#block-block-10 {margin-left:0;}	
#block-block-10 h2, #block-block-11 h2, #block-block-12 h2 {
	margin-bottom:32px;
	}
#block-block-8 h2 {margin-bottom:32px;}	
#block-block-8 .content {
	overflow:hidden;
	}	
#block-block-8 .content .block-item {
	float:left;
	width:290px;
	margin-left:30px;
	color:#95cfff;
	}		
#block-block-8 .content .block-item:first-child {margin-left:0;}
#block-block-8 .content .block-item .capital {
	width:71px;
	height:53px;
	display:block;
	float:left;
	margin-right:18px;
	background:#206298;
	text-align:center;
	font-size:29px;
	line-height:35px;
	color:#fff;
	text-transform:uppercase;
	font-weight:normal;
	border-radius:100%;
	padding-top:17px;
	position:relative;
	}
#block-block-8 .content .block-item .heading {
	color:#fff;
	display:block;
	padding-right:5px;
	margin-bottom:10px;
	}	
#header #logo {
  float:left;
  margin:52px 20px 0 0;
  position:relative;
  z-index:400;
}
#header #site-name-slogan {
  float: left;
}
#header #site-name {
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
  font-size:3em;
  font-weight:bold;
  line-height:1em;
  margin:0;
}
#header #site-name a { text-decoration:none}

.wrapper {
	position:relative;
	width:100%;
	overflow:hidden;
	}

/*****************Main menu*****************/
#superfish-1 { 
	background:none;
	margin:0px;
	position:relative;
	width:auto;
}
#superfish-1:after {
	content:"";
	display:block;
	clear:both;
	width:100%;
	}
	#superfish-1 > li {
		background:url(../gif/menu_divider.gif) right bottom no-repeat;
		border:0;
		overflow:inherit;
		padding:0px 0 4px;
		text-align:center;
		position:relative;
		margin:0 1px 0 2px;
	}
	#superfish-1 > li.last {margin-right:0;}
	#superfish-1 > li.last {background:0;} 
		#superfish-1 > li > a {
			border:0;
			color:#7b8588;
			font-size:11px;
			line-height:14px;
			font-weight:bold;
			padding:98px 10px 0 10px !important;
			text-decoration:none;
			text-transform:uppercase;
			-moz-transition:all .3s ease;
			-webkit-transition:all .3s ease;
			background:url(../gif/menu_hover.gif) 0 -100px repeat-x;
		}
		#superfish-1 a:hover, #superfish-1 a.active, #superfish-1 a.sfHover {
			background-position:0 0;
			}
	#superfish-1 ul {
		background:#2977b7;
		border:0px solid #1b1b1b;
		display:none;
		padding:31px 18px 30px 15px;
		top:146px !important;
		width:130px !important;
	}
	.sf-navbar > li > ul { margin-top:3px;}
	
		#superfish-1 ul li {
			background:none;
			border-bottom:1px solid #5492c5;
			height:auto;
			padding:0 0px 4px;
			margin-bottom:5px;
		}
		#superfish-1 ul li.last {border:none;}
		#superfish-1 ul li a {
			border:0;
			color:#fff;
			font-size:11px;
			line-height:14px;
			font-weight:normal;
			padding:0 !important;
			text-align:left;
			text-transform:uppercase;
			text-decoration:none;
			margin:0 13px;
		}
		#superfish-1 ul li a:hover, #superfish-1 ul li a.active {color:#96d0ff;}

	#superfish-1 ul li ul{
		left:160px !important;
		padding:10px 0 !important;
		top:0 !important;
	}
	#superfish-1 ul li ul li {
		background:none;
		margin-bottom:1px;
	}
/****************************************/

/***********Breadcrumb*************/
#breadcrumb { 
	color:#000;
	margin-top:16px;
	padding:0px 3px 15px;
}
	#breadcrumb a { 
		color:#000;
		font-size:12px;
		text-decoration:none;
		padding:0 3px;
	}
	#breadcrumb a:last-child { padding-right:0}
	#breadcrumb a:hover { color:#2977b7;}
/**********************/

/*** MAIN ***/
#main-wrapper {}
#main-wrapper #main {width:940px; margin:0 auto; overflow:hidden; padding:69px 0 36px;}
.section .region { width:100%;}

#sidebar-first { width:269px; float:left;}
#sidebar-first .section { padding:0px 0px 0px 0px;}

#content { padding:0px 0px 15px 	0px; overflow:hidden; }
#content .section { width:100%;}

#sidebar-second { float:right; width:350px; }
#sidebar-second .section { padding:0px 0px 0px 50px;}

#block-views-recent-posts-block .view-recent-posts .views-row {
	padding-bottom:28px;
	margin-bottom:26px;
	background:url(../gif/line_hor.gif) 0 bottom repeat-x;
	}
#block-views-recent-posts-block .view-recent-posts .views-field-created {
	font-size:10px;
	line-height:12px;
	text-transform:uppercase;
	color:#a6a8a8;
	margin-bottom:12px;
	}

.region-content { overflow:hidden;}


/***********Admin tabs*************/
.tabs-wrapper {
  margin: 1px 0 20px;
}
div.tabs { 
	overflow:hidden;
}
	.tabs ul.primary li { margin-bottom:-1px;}
	.tabs ul.primary li a { 
		background:#EDEDED;
		border:1px solid #BBB;
		border-radius:5px 5px 0 0;
		text-shadow:0 1px 0 #FFF;
	}
	.tabs ul.primary {
		border:0;
		border-bottom:1px solid #c9c9c9;
		margin:10px 0 10px 0;
		overflow:hidden;
		padding:4px 0;
	}
	.tabs ul li a{
		background:#464646;
		border-bottom:0;
		color:#000;
		font-size:12px;
		font-weight:normal;
		margin:0;
		overflow:hidden;
		padding:3px 15px 4px;
		-webkit-transition:background 0.1s linear;
		-moz-transition:background 0.1s linear;
		}
		.tabs ul li a.active, .tabs ul li a:hover { 
			background:#2977b7;
			color:#fff;
			text-shadow:none;
		}
/***********************/


/****************Comments form*******************/
article.comment header{ width:100%; overflow:hidden;}
.user-picture { float:left; margin-right:20px;}
section#comments h2.title {
	margin-bottom:30px;
	font-size:60px;
	line-height:72px;
}

#comment-form label {
	color:#484848;
	display:table;
}

#comment-form .form-text, .search-form .form-text, #user-login .form-text {
	width:300px;
}
	
#comment-form .form-textarea {
	height:230px;
	max-height:250px;
}
	
.resizable-textarea .grippie {
	display:none;
}

.form-type-item {
	overflow:hidden;
	width:100%;
}
	.form-type-item label {
		float:left;
		padding-right:10px;
	}	
	.form-type-item a {
		color:#2977b7
	}
	
.form-type-select { margin:0;}

#edit-comment-body-und-0-format-guidelines {
	padding-top:15px;
	padding-left:0;
}
	#edit-comment-body-und-0-format-guidelines ul li{
		font-size:12px;
		overflow:hidden;
		width:100%;
	}


/***Comments output***/
#comments {
	margin-top:5px;
	overflow:hidden;
	padding-top:20px;
	width:100%;
}
	#comments .submitted {
		padding-bottom:5px;
	}
		#comments .submitted a{
			display:none;
		}
		.comment h3 {font-size:15px; line-height:20px; margin-bottom:0;}
		.comment h3 a {
			color:#5e6b70;
			font-size:15px;
			font-weight:bold;
			text-decoration:none;
		}
		.comment h3 a:hover {
			color:#2977b7;
			}
	.comment p {
		padding-bottom:5px;
	}
	.comment p.submitted {
		margin-top:6px;
		font-size:10px;
		line-height:12px;
		text-transform:uppercase;
		color:#a6a8a8;
		}

	#comments article {
		margin-bottom:51px;
		background:url(../gif/v_line.gif) 0 0 repeat-y;
	}
	article.node .comment .content {
		margin:0;
		padding:0 20px 0 81px;
		background:none;
		}
	.comment-preview {background:none;}	
	.comment-preview .content {
		background:none;
		padding-left:80px;
		}
	
	#comments footer {
		overflow:hidden;
		padding:0px 0 0 80px;
	}
		#comments footer ul li {
			float:left;
		}
		#comments footer ul li a {
			background:#2977b7;
			}
		#comments footer ul li a:hover {
			background:#eff0f0;
			color:#000;
			}
#edit-comment-body-und-0-format {
	border:0;
}
.filter-wrapper .form-item {padding-left:0;}
#edit-comment-body-und-0-format-help {padding-right:0;}
.form-item-comment-body-und-0-format {padding-left:0;}
#comments .indented {
	margin:0;
	padding-left:40px;
	}
#comments .indented article.comment  {background:url(../gif/v_line.gif) 0 0 repeat-y;}	

#comment-form-wrapper { margin-top:30px;}

article.comment span.new { position:absolute; top:0; right:0;}
/********************************************/

/***********************Content Region*************************/
.content-top {
	margin-top:10px;
	background:#4b585d;
	padding:38px 0 26px;
	}
.region-content-top {
	width:940px;
	margin:0 auto;
	}	
#block-block-6 .slogan {
	letter-spacing:-2px;
	word-spacing:2px;
	font-size:60px;
	line-height:72px;
	color:#fff;
	text-transform:uppercase;
	overflow:hidden;
	float:left;
	text-align:left;
	padding-top:25px;
	}	
#block-block-6 .slogan em {
	display:block;
	margin-top:-18px;
	}
#block-block-6 .content {padding:0 26px 0 0;}	
#block-block-6 .content p {width:100%; overflow:hidden; text-align:right;}	
#block-block-6 .content a {
	display:inline-block;
	width:180px;
	height:180px;
	background:#5e6b70;
	border-radius:100%;
	text-align:center;
	font-size:9px;
	line-height:12px;
	text-transform:uppercase;
	text-decoration:none;
	color:#fff;
	position:relative;
	-moz-transition:all .3s ease;
	-webkit-transition:all .3s ease;
	}	
#block-block-6 .content a em {
	font-style:normal;
	padding-top:86px;
	display:block;
	z-index:99;
	position:relative;
	}	
#block-block-6 .content a span {
	display:block;
	position:absolute;
	top:50%;
	bottom:50%;
	left:50%;
	right:50%;
	background:#b5b6b7;
	-moz-transition:all .3s ease;
	-webkit-transition:all .3s ease;
	border-radius:100%;
	}	
#block-block-6 .content a:hover {
	color:#4b585d;
	background:#b5b6b7;
	}
#block-block-6 .content a:hover span {
	top:0;
	right:0;
	bottom:0;
	left:0;
	}	
#block-views-welcome-block {float:left; width:50%;}	
#block-views-welcome-block h2 {margin-bottom:41px;}	
#block-views-welcome-block .content ul {
	padding:0 51px 0 9px;
	margin-bottom:43px;
	}
#block-views-welcome-block .content ul li {
	padding-left:49px;
	background:url(../png/pic1.png) 0 7px no-repeat;
	margin-bottom:25px;
	}
#block-views-welcome-block .content ul li:first-child+li {
	background:url(../png/pic2.png) 0 5px no-repeat;
	}	
#block-views-welcome-block .content ul li:first-child+li+li {
	background:url(../png/pic3.png) 0 4px no-repeat;
	}
#block-views-welcome-block .views-field-view-node {
	padding-left:58px;
	}	
#block-views-welcome-block .views-field-view-node a {
	text-transform:uppercase;
	font-size:12px;
	}	
#block-views-news-block {
	float:right;
	width:50%;
	}
#block-views-news-block h2 {
	margin-bottom:28px;
	}	
#block-views-news-block .view-news .view-content {padding-left:10px;}	
#block-views-news-block .view-news .views-row {
	overflow:hidden;
	padding-bottom:15px;
	background:url(../gif/line_hor.gif) 3px bottom repeat-x;
	margin-bottom:14px;
	}
#block-views-news-block .view-news .views-row.views-row-last {margin-bottom:0; background:none;}
#block-views-news-block .view-news .views-row .views-field-created {
	float:left;
	width:112px;
	text-align:center;
	background:#2977b7;
	height:112px;
	border-radius:100%;
	margin-right:24px;
	position:relative;
	}
#block-views-news-block .view-news .views-row .views-field-created .field-content {
	padding:52px 0 0 0;
	display:block;
	font-size:9px;
	line-height:11px;
	color:#fff;
	text-transform:uppercase;
	}
#block-views-news-block .view-news .views-row .views-field-title {padding-top:13px; margin-bottom:10px;}	
#block-views-news-block .view-news .views-row .views-field-title a {text-decoration:none;}
#block-views-news-block .view-news	.view-content {margin-bottom:18px;} 
#block-views-news-block .view-news	.view-footer a {
	text-transform:uppercase;
	font-size:12px;
	padding-left:10px;
	}
.pane-title {margin-bottom:42px;}	
.panels-flexible-region-2-left_region-inside .pane-content {overflow:hidden;}	
.panels-flexible-region-2-center .history li {
	overflow:hidden;
	margin-bottom:19px;
	}
.panels-flexible-region-2-center .history li .date {
	font-size:13px;
	font-weight:normal;
	color:#fff;
	line-height:16px;
	width:70px;
	text-align:center;
	float:left;
	background:#2977b7;
	padding-top:28px;
	border-radius:100%;
	height:42px;
	position:relative;
	margin-right:18px;
	}	
.panels-flexible-region-2-center .history li .title {
	color:#2977b7;
	display:block;
	padding-top:1px;
	margin-bottom:10px;
	}	
.panels-flexible-region-2-center .history li > div {overflow:hidden;} 	
.img-indent {
	float:left;
	margin-right:20px;
	}
.extra {
	overflow:hidden;
	}	
.panels-flexible-region-2-left_region-inside .pane-content .img-indent {padding-top:5px;}	
.panels-flexible-region-2-left_region-inside .pane-content .quote {
	padding-left:20px;
	color:#2977b7;
	}	
.panels-flexible-region-2-left_region-inside .pane-content .sign {
	width:100px;
	height:47px;
	margin-top:29px;
	background:url(../gif/sign.gif) 0 0 no-repeat;
	}
#main-wrapper #main { margin:0 auto; overflow:hidden;}
.content-wrap { width:100%; overflow:hidden; padding-bottom:30px;}

.content_bottom {
	margin:22px 0 86px;
	background:#4b585d;
	padding:52px 0 28px;
}
.region-content-bottom {
	width:940px;
	margin:0 auto;
	}
.region-content-bottom section.block h2 {
	margin-bottom:47px;
}	
.region-content-bottom section.block h2 {color:#fff;}	
#block-block-9 .row {
	overflow:hidden;
	}
#block-block-9 .row {margin-bottom:30px;}	
#block-block-9 .row a {
	float:left;
	margin-right:40px;
	font-size:0;
	line-height:0;
	}
#block-block-9 .row:first-child+.row {margin-bottom:20px;}	
.panels-flexible-region-3-right_region-inside .pane-2 {margin-bottom:50px;}
.panels-flexible-region-3-right_region-inside .pane-3 .pane-content ul li {
	padding-left:12px;
	background:url(../gif/marker2.gif) 0 9px no-repeat;
	margin-bottom:10px;
	}
.panels-flexible-region-3-right_region-inside .pane-3 .pane-content ul li a {
	text-decoration:none;
	color:#5e6b70;
	}
.panels-flexible-region-3-right_region-inside .pane-3 .pane-content ul li a:hover {
	color:#2977b7;
	}	
.panels-flexible-region-3-center-inside	.wrapper.indented {
	margin:0 0 32px 0;
	}
.panels-flexible-region-3-center-inside .color1 {color:#2977b7;}	
.panels-flexible-region-3-center-inside	.wrapper .column {
	float:left;
	width:300px;
	margin-left:20px;
	overflow:hidden;
	}
.panels-flexible-region-3-center-inside	.wrapper .column:first-child {margin-left:0;}	
.panels-flexible-region-3-center-inside	.wrapper .column .title {
	font-size:17px;
	line-height:21px;
	margin-bottom:19px;
	text-transform:uppercase;
	display:block;
	color:#000;
	padding-right:30px;
	}	
.panels-flexible-region-3-center-inside	.wrapper .column .capital {
	display:block;
	float:left;
	width:72px;
	text-align:center;
	background:url(../png/mask1.png) 0 0 no-repeat;
	font-size:29px;
	line-height:35px;
	text-transform:uppercase;
	color:#fff;
	font-weight:normal;
	padding-top:18px;
	height:52px;
	margin-right:17px;
	}	

/*Node heading*/
.front h1 {display:none;}
h2 {
	font-size:58px;
	letter-spacing:-1px;
	line-height:70px;	
	text-transform:uppercase;
	color:#4b585d;
	}
h1 {
	font-size:60px;
	line-height:72px;
	text-transform:uppercase;
	}	
.node h2 {
	color:#4b585d;
	padding:0px;
	font-size:18px;
	line-height:22px;
	text-transform:uppercase;
}
	.node h2 a{
		font-weight:normal;
		text-decoration:none;
		color:#4b585d;
		letter-spacing:0;
		}
	.node h2 a:hover{ color:#000;}

article.node { padding-bottom:30px;}
article.node .content {
	overflow:hidden;
	background:#eff0f0;
	}
article.node.node-teaser .content .field-name-body {
	overflow:hidden;
	padding:31px 20px 0 0;
	}
article.node.node-full .content .field-name-body {
	padding:0 34px 0;
	}
article.node.node-full .content .field-name-body .field-item p:first-child {margin-top:20px;}
.node-poll .content {padding:20px 20px 10px;}
.node-poll .poll {padding-bottom:0; background:none;}
.node-poll .form-submit:hover {background:#4B585D; color:#fff;}
/*Author & date information*/
p.submitted {
	font-size:12px;
	margin:5px 0 15px;
}
.submitted, p.submitted span {
	color:#4b585d;
	font-size:12px;
}
	.submitted a {
		color:#4b585d;
		font-size:12px !important;
		text-decoration:none;
		text-transform:capitalize;
	}
	.submitted a:hover {
		color:#2977b7;
		}
/**/

article.node footer {
	padding-top:20px;
}

/*Node Tags*/
article.node footer .field-name-field-tags { padding-bottom:10px;}
article.node footer .field-name-field-tags .field-label{
	color:#000;
	line-height:28px;
}
article.node footer .field-name-field-tags .field-items {
	overflow:hidden;
	padding-bottom:15px;
	width:100%;
}
article.node footer .field-name-field-tags ul li { float:left; padding:0 4px;}
	article.node footer .field-name-field-tags ul li a{ text-decoration:none;}
	
article.node footer .field-name-field-tags .field-item {
	float:left;
	padding-right:10px;
}
/**/

/*Social sharing*/
.social-share {
	padding:15px 0 15px 34px;
}
	.social-share span {
		float:left; 
		font-weight:bold;
		vertical-align:middle;
	}
	.social-share a {
		display:block;
		float:left;
		height:16px;
		margin-left:5px;
		opacity:.8;
		text-indent:-9999px;
		vertical-align:middle;
		width:16px;
		-webkit-transition:opacity .2s ease-out; -moz-transition:opacity .2s ease-out;
	}
		.social-share a:hover { opacity:1;}
		
	.social-share a.social-share-facebook { background:url(../png/facebook.png) no-repeat 0 0;}
	.social-share a.social-share-twitter { background:url(../png/twitter.png) no-repeat 0 0;}
	.social-share a.social-share-googlebuzz { background:url(../png/buzz.png) no-repeat 0 0;}
	.social-share a.social-share-myspace { background:url(../png/myspace.png) no-repeat 0 0;}
	.social-share a.social-share-msnlive { background:url(../png/msn.png) no-repeat 0 0;}
	.social-share a.social-share-yahoo { background:url(../png/yahoo.png) no-repeat 0 0;}
	.social-share a.social-share-linkedin { background:url(../png/linkedin.png) no-repeat 0 0;}
	.social-share a.social-share-orkut { background:url(../png/orkut.png) no-repeat 0 0;}
	.social-share a.social-share-digg { background:url(../png/digg.png) no-repeat 0 0;}
	.social-share a.social-share-delicious { background:url(../png/delicious.png) no-repeat 0 0;}
	.social-share a.social-share-facebook { background:url(../png/facebook.png) no-repeat 0 0;}
/**/
article .links {overflow:hidden;}
article .links li:first-child {margin-left:0;}
article .links li {
	display:block;
	float:left;
	margin:0 0px 0px 20px;
	padding:0;
}
article .links a {
	display:inline-block;
	background:#4b585d;
	text-decoration:none;
	font-size:9px;
	line-height:11px;
	text-transform:uppercase;
	color:#fff;
	padding:16px 30px 17px;
}
article .links a:hover{background:#2977b7;}
article .field-type-taxonomy-term-reference ul li a {
	display:inline;
	padding:0;
	background:none;
	color:#000;
	font-size:12px;
	text-transform:none;
	line-height:20px;
	}
article .field-type-taxonomy-term-reference ul li a:hover {background:none; color:#2977b7;}	
/*****************Default Block Style*******************/
input[type="text"], input[type="search"], input[type="password"], textarea {
	border:1px solid #dfe1e2;
	background:#fff;
	font-family:Arial, Helvetica, sans-serif;
	color:#6b6f71;
	font-size:15px;
	padding:7px 8px 7px;
	}
form label {
	font-weight:normal;
	padding-bottom:5px;
	}	
form .form-item {
	margin:8px 0 8px;
	}	
textarea {resize:none;}
section.block { 
	margin-bottom:10px;
	padding-bottom:15px;
}
	section.block ul, section.block .item-list ul li { margin-left:0; margin-top:0;}
	ul li.leaf { 
		list-style-image:none;
		list-style-type:none;
		margin:0;
		padding:0;
	}
	section.block h2 {
		color:#4b585d;
		margin-bottom:30px;
	}
	section.block h2 span{
		font-size:24px;
		color:#90e200;
	}
		section.block .content li { 
			background:url(../gif/marker.gif) no-repeat 0 8px;
			padding:0 0 0px 11px;
			overflow:hidden;
			line-height:20px;
			margin-bottom:10px;
		}
		section.block .content li.collapsed {margin-left:0; margin-top:0;}
			section.block .content li a { 
				color:#2977b7;
				text-decoration:none;
			}
			section.block .content li a:hover { color:#6b6f71;}

/*********************POLL's Bars**********************/
.poll {
	padding-bottom:28px;
	background:url(../gif/line_hor.gif) 0 bottom repeat-x;
	margin-bottom:44px;
	}
.poll .bar { 
	background-color:#eff0f0;
	height:13px;
	margin-bottom:14px;
}
.poll .text {
	margin-bottom:3px;
	}
.poll .total {text-align:right;}
.poll .bar .foreground { 
	height:13px; 
	display:none;
	background-color:#2977b7;
	}
#block-poll-recent .links ul li {padding:0; background:none;}	
#block-poll-recent .links ul li a {
	display:inline-block;
	padding:18px 30px 16px;
	background:#2977b7;
	font-size:9px;
	line-height:11px;
	color:#fff;
	text-decoration:none;
	background:#2977b7;
	text-transform:uppercase;
	}	
#block-poll-recent .links ul li a:hover {
	background:#eff0f0;
	color:#4b585d;
	}	
	
.poll .percent { float:right;}
/*******************************************/

#block-comment-recent .content li a { display:block;}

#block-forum-new .contextual-links-wrapper { display:none;}

/***Block Search****/
#block-search-form { padding:0px 6px 10px 21px; float:right;}
#search-block-form .form-text {
	width:200px;
	margin-right:-30px;
}

#search-block-form #edit-submit, #search-block-form .form-submit { 
background:url(../png/search.png) no-repeat center center;
line-height:normal;
width:31px;
height:32px;
padding:0;
margin:0;
vertical-align:middle;
cursor:pointer;
text-indent:-9999px;
border:0;
}
#search-block-form #edit-submit:hover, #search-block-form .form-submit:hover {}
#search-form .form-submit {padding:10px 30px 11px; vertical-align:middle;}
#search-form .form-item {vertical-align:middle;}

/******************Buttons Styles********************/
.form-submit, #edit-cancel {
	display:inline-block;
	padding:18px 30px 16px;
	background:#2977b7;
	font-size:9px;
	line-height:11px;
	color:#fff;
	text-decoration:none;
	background:#2977b7;
	text-transform:uppercase;
	border:0;
	margin-right:20px;
	}
	.form-submit:hover, #edit-cancel:hover { background:#eff0f0; color:#000;}
/*****************************************/

/*** Footer ***/
#footer {	
	clear: both;
	padding: 1.5em 0;
	position: relative;
	width:940px;
	margin:0 auto;
}
#footer .block .content {
	color:#a6a8a8;
	}
#footer .block .content a {
	color:#a6a8a8;
	text-decoration:none;
	}	
#footer .block .content a:hover {
	color:#2977b7;
	}	
#footer h2 {
	font-size:17px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:21px;
	font-weight:bold;
	margin-bottom:17px;
	}
#block-block-7 {
	float:left;
	width:460px;
	margin-right:20px;
	}
#block-block-7 h2 {
	margin-bottom:15px;
	}	
#block-block-7 .content {
	text-transform:uppercase;
	font-size:10px;
	line-height:18px;
	}	
#block-block-5 {float:left; }
#block-block-5 h2 {margin-bottom:15px;}
#block-block-5 .content {
	font-size:10px;
	line-height:18px;
	text-transform:uppercase;
	}		
/**************Contact Form***************/
#contact-site-form label {
	color:#000;
	display:table;
}
#contact-site-form label.option { display:inline;}
#contact-site-form input.form-text {
	width:300px;
}
#contact-site-form .form-item-message {width:400px;}
#contact-site-form textarea#edit-message {
	max-height:300px;
}
.more-link {text-align:left;}
/**************************************/


/***********Forum************/
tr.even, tr.odd {
	background:#eff0f0;
	border-bottom:0;
	}
.action-links {
	padding:15px 0px;
}
.page-blog .action-links {padding-top:0;}
	.action-links a {
		color:#2977b7;
		font-size:12px;
	}
	.action-links a:hover {
		text-decoration:none;
	}

#forum a {
	color:#2977b7;
	font-size:13px;
}
#forum table {
	border:1px solid #c8c8c8;
	width:100%;
}
#forum th {
	background:#2977b7; 
	border:1px solid #535353;
	color:#fff; 
	font-size:14px;
	padding:3px 5px;
}
	#forum th a {
		color:#fff;
		text-decoration:none;
	}
	#forum th a img {margin-left:10px;}
	#forum th a:hover {color:#4b585d;}
	
#forum tr.even, tr.odd {
	background:none;
	border-bottom:0;
}
#forum tr.even td {
	background:#f8f8f8
}

#forum tr.odd td { 
	background:#f7f6f4
}
#forum td.container { 
	padding:10px;
}

#forum tr.even td.forum { 
	background:url(../forum-ico.html) no-repeat 10px 10px #fafafa
}
#forum tr.odd td.forum { 
	background:url(../forum-ico.html) no-repeat 10px 10px #f7f6f4
}

#forum td {
	background:#f3f5f4;
	border:1px solid #c8c8c8;
	padding:5px;
}

#forum td.topics, #forum td.posts, #forum td.replies{
	text-align:center;
}
#forum td.last-reply span, #forum td.title span {
	color:#535353;
}

.field-name-taxonomy-forums {
	overflow:hidden;
	padding-bottom:10px;
	width:100%;
}
.field-type-taxonomy-term-reference {width:auto; padding:20px 0 0 30px;}
.field-label {
	color:#000;
	float:left;
	font-size:14px;
	vertical-align:middle;
}
.field-items a {
	color:#2977b7;
}

h3.field-label { line-height:22px; padding-right:10px;}

h3 {
	font-size:22px;
	line-height:27px;
	margin-bottom:25px;
	}
h3 a {
	color:#4b585d;
	}
h3 a:hover {color:#4b585d;}	
/***********************/

/************first-time page***************/
#first-time {
	display:none;
}
	#first-time p {
		padding:10px 0;
	}
	
#first-time .item-list ul li{
	background:none;
	display:block;
	float:left;
	margin:0;
}
	#first-time .item-list ul li a {
		color:#2977b7;
		display:block;
		font-size:12px;
		font-weight:bold;
		text-decoration:none;
	}
	#first-time .item-list ul li:hover { background:none}
	#first-time .item-list ul li a:hover { background:none}
/***************************/

/******************Paginator*********************/
.item-list .pager {overflow:hidden;}
.content ul.pager li {
	color:#494949;
	margin:0px 1px;
	overflow:hidden;
	float:left;
	font-size:18px;
	line-height:22px;
	text-transform:uppercase;
	padding:0;
	margin:0 15px 0 0;
}
.content ul.pager li.pager-current { 
	color:#2977b7;
	font-weight:normal;
	}
	.content ul.pager li a{ 
		background:none	;
		color:#000; 
		position:relative;
		text-decoration:none; 
		zoom:1;
		border-radius:2px;
	  }
	.content ul.pager li a:hover {	
		color:#2977b7;
	}
/**********************/

/*********Admin menu bg**********/
ul.contextual-links li a:hover {}
/*********************/


/*****Blog page*****/
.node-blog.node-full .field-name-field-blog-image { padding-bottom:15px; display:inline-block}
.node-blog .field-name-field-blog-image .field-item {line-height:0;}
.node-blog .field-name-field-blog-image .field-item a { overflow:hidden; display:block; line-height:0}
.page-comment .field-name-body {clear:both; margin:20px 20px; padding-top:10px;}
/*****************/


/********Social-icons Block********/
#block-follow-site { 
	float:left;
	margin-right:101px;
	}
#block-follow-site .follow-links li { 
	background:none;
	float:left;
	padding:0;
}
	a.follow-link {
		width:23px;
		height:23px;
		text-indent:-9999px;
		float:left;
		margin:3px 5px 0px 0;
		padding:0;
		-moz-transition:all ease .4s;
		-webkit-transition:all ease .4s;
	}
		a.follow-link:hover {margin-top:0;}
/********************/

/*******Slider********/
#block-views-slider-block {margin-bottom:0; padding-bottom:0;}
.view-slider .views_jqfx_cycle_pause { display:none !important;}
.view-slider .views_jqfx_cycle_slide { height:758px; position:relative; width:100%;}
.view-slider .views-field-field-slide-image { height:758px; font-size:0; line-height:0;}
.view-slider .views_jqfx_cycle_slide .views-field-field-slide-image a {display:block; width:100%;}
#views_jqfx_cycle_teaser_section_slider-block {height:758px;}
.views_jqfx_cycle_main .views-field-view-node {
	top:501px;
	position:absolute;
	right:337px
	}
.views_jqfx_cycle_main .views-field-view-node a {
	display:inline-block;
	padding:17px 35px 17px;
	font-size:9px;
	text-transform:uppercase;
	text-decoration:none;
	color:#fff;
	background:#2977b7;
	}	
.views_jqfx_cycle_main .views-field-view-node a:hover {
	background:#4b585d;
	}
.views_jqfx_cycle_main .views-field-body {
	position:absolute;
	top:221px;
	font-size:80px;
	line-height:96px;
	text-transform:uppercase;
	color:#4b585d;
	right:110px;
	width:345px;
	letter-spacing:-2px;
	}	
.skin-default .views-jqfx-controls-top {
	position:absolute;
	top:171px;
	right:398px;
	z-index:400;
	}	
.skin-default .views-jqfx-controls-top a {
	display:inline-block;
	width:20px;
	height:19px;
	font-size:0;
	line-height:0;
	background:url(../gif/arrows.gif) 0 bottom no-repeat;
	}	
.skin-default .views-jqfx-controls-top a.views_jqfx_next {background-position:right bottom; margin-left:8px;}	
.skin-default .views-jqfx-controls-top a:hover {background-position:0 0;}
.skin-default .views-jqfx-controls-top a.views_jqfx_next:hover {background-position:right 0;}
.view-slider .views-field-body span {
	display:block;
	overflow:hidden;
	margin-bottom:-22px;
	}
/********************/


.field-type-image { float:left; margin-right:15px;}
.node-full .field-type-image {margin:0 0 15px 0;}
.node-teaser .field-type-image {margin:0 33px 0 0;}

#block-views-our-team-block h2 {margin-bottom:47px;}
#block-views-our-team-block .views-field-field-employee-photo {margin:0 0 14px 0; font-size:0; line-height:0;}
#block-views-our-team-block .views-row {width:180px; float:left; margin-right:10px;	background:#eff0f0; min-height:268px}
#block-views-our-team-block .views-row.views-row-last {margin:0;}
#block-views-our-team-block .view-content {overflow:hidden;}
#block-views-our-team-block .views-field-title {
	background:#eff0f0;
	margin:0 13px 10px;
	}
#block-views-our-team-block .views-field-title a {
	font-weight:bold;
	text-decoration:none;
	color:#5e6b70;  
	}	
#block-views-our-team-block .views-field-title a:hover {
	color:#2977b7;
	}	
#block-views-our-team-block .views-field-field-position {
	margin:0 13px 15px;
	}


.profile .user-picture { margin-left:20px;}
.profile h3 { overflow:hidden;}


/*******Portfolio********/
.view-portfolio .view-content {overflow:hidden;}
.view-portfolio .views-row {float:left; background:#eff0f0;}
.view-portfolio .views-row > * {margin:0 33px;}
.view-portfolio .views-row .views-field-field-portfolio-image {font-size:0; line-height:0; padding-bottom:1px; background:url(../gif/ajax-loader.gif) center center no-repeat #fff; margin:0 0 34px 0; position:relative; overflow:hidden;}
.view-portfolio .views-row .views-field-field-portfolio-image .magnify {
	display:block;
	width:45px;
	height:45px;
	position:absolute;
	right:-45px;
	bottom:1px;
	background:url(../png/magnify.png) 0 0 no-repeat;
	}
.view-portfolio .views-row .views-field-field-portfolio-image a {display:block; background:#fff;}
.view-portfolio .views-row .views-field-title {margin-bottom:10px;}
.view-portfolio .views-row .views-field-title a {
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	color:#5e6b70;
	}
.view-portfolio .views-row .views-field-title a:hover { color:#ff5115}
.view-portfolio .views-row .views-field-body {margin-bottom:42px;}
.view-portfolio .views-row.last {margin-right:0 !important;}
.page-projects .view-portfolio .views-row {width:220px; margin:0 20px 25px 0;}
.page-projects .view-portfolio .views-row .views-field-field-portfolio-image {height:157px; width:220px;}

.page-projects-2-cols .view-portfolio .views-row {width:460px; margin:0 20px 35px 0;}
.page-projects-2-cols .view-portfolio .views-row.views-row-even {margin-right:0;}
.page-projects-2-cols .view-portfolio .views-row .views-field-title {margin:34px 20px 10px 0;}
.page-projects-2-cols .view-portfolio .views-row .views-field-body {margin-right:20px;}
.page-projects-2-cols .view-portfolio .views-row .views-field-field-portfolio-image {height:227px; width:240px; float:left; margin:0 33px 0 0; padding-bottom:0;}
.page-projects-2-cols .view-portfolio .views-row > div {overflow:hidden; margin:0;}

.page-projects-3-cols .view-portfolio .views-row {width:300px; margin:0 20px 35px 0; line-height:18px;}
.page-projects-3-cols .view-portfolio .views-row .views-field-field-portfolio-image {height:207px; width:300px; margin-bottom:35px;}
.page-projects-3-cols .view-portfolio .views-row .views-field-title {margin-bottom:11px;}
.page-projects-3-cols .view-portfolio .views-row .views-field-body {line-height:20px;}

.page-projects-1-col .view-portfolio .views-row {float:none; overflow:hidden; margin-bottom:40px;}
.page-projects-1-col .view-portfolio .views-row .views-field-field-portfolio-image {height:378px; width:560px; float:left; margin-right:33px; padding-bottom:0; margin-bottom:0;}
.page-projects-1-col .view-portfolio .views-row .views-field-title {margin-top:34px;}
.page-projects-1-col .view-portfolio .views-row .views-field-view-node a:hover {background-color:#2977b7;}

.page-projects .view-portfolio .views-row.views-row-4, 
.page-projects .view-portfolio .views-row.views-row-8, 
.page-projects .view-portfolio .views-row.views-row-12,
.page-projects-3-cols .view-portfolio .views-row.views-row-3,
.page-projects-3-cols .view-portfolio .views-row.views-row-6,
.page-projects-3-cols .view-portfolio .views-row.views-row-9 {
	margin-right:0;
	}

/********************/


/*** Customer ***/


.field.field-name-field-portfolio-image.field-type-image.field-label-hidden {
    padding-right: 10px;
}
